<div class="tab-nav">
  <%= event_tab_link 'Accepted Events', profile_path(tab: :accepted_events) %>
  <%= event_tab_link "Pending Events", profile_path(tab: :pending_events) %>
  <%= event_tab_link 'Declined Events', profile_path(tab: :declined_events) %>
</div>