<div class="tab-nav">
  <%= event_tab_link 'Accepted Invites', event_path(event_id, tab: :accepted_users) %>
  <%= event_tab_link "Pending Invites", event_path(event_id, tab: :pending_users) %>
  <%= event_tab_link 'Declined Invites', event_path(event_id, tab: :declined_users) %>
  <%= event_tab_link 'Create Invites', event_path(event_id, tab: :create_invites)%>
</div>