<div class="event-top-options">
  <%= link_to 'Decline' ,invite_path(event.id ,response: :declined) , method: :put, class: :decline %>
  <%= link_to 'Accept' ,invite_path(event.id ,response: :accepted), method: :put, class: :accept %>
</div>